@using Microsoft.AspNetCore.Identity
@using Pubstars2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Me" asp-action="Index" title="Manage">My Stats</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    var provider = loginProviders[0];
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <ul class="nav navbar-nav navbar-right">         
            <li><button type="submit" style="border:none;background:none;" name="provider" value="@provider.AuthenticationScheme"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" width="180" height="35"></button></li>
        </ul>
    </form>
}

